# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
**/node_modules/

# Expo
.expo/
**/.expo/
.expo-shared/
**/.expo-shared/
.expo/
dist/
web-build/
expo-env.d.ts
**/expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
.env.*
!.env.example
# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
**/ios/
**/android/

# Supabase local temp
supabase/.branches/
supabase/.temp/
.vscode/

**/firebase_credentials.json

# TypeScript
*.tsbuildinfo

